@font-face {
	font-family: 'iconfont'; /* project id 2162807 */
	src: url('https://at.alicdn.com/t/font_2162807_xitaezzka9r.eot');
	src: url('https://at.alicdn.com/t/font_2162807_xitaezzka9r.eot?#iefix')
			format('embedded-opentype'),
		url('https://at.alicdn.com/t/font_2162807_xitaezzka9r.woff2')
			format('woff2'),
		url('https://at.alicdn.com/t/font_2162807_xitaezzka9r.woff') format('woff'),
		url('https://at.alicdn.com/t/font_2162807_xitaezzka9r.ttf')
			format('truetype'),
		url('https://at.alicdn.com/t/font_2162807_xitaezzka9r.svg#iconfont')
			format('svg');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lajitong:before {
	content: '\e6ea';
}
